/*	John Williams
	November 3, 2011
	VFW Deliverable 2
	Online Beer Store
*/

html {
    background-color: #e2e2e2;
    width: 400px;
}

body {
    font-family: Verdana, Geneva, sans-serif;
    color: #555555;
}

p {
    margin: 1.5em 0;
}

h1 {
    background-color: #333333;
/*    color: #f1f1f1; Don't need anymore. Added logo class to handle. */
    padding: 10px;
	-moz-border-radius: 5px;
	border-radius: 5px;    
}

h2 {
    background-color: #333333;
    color: #f1f1f1;
    padding: 10px;    
	-moz-border-radius: 5px;
	border-radius: 5px;    

}

fieldset {
	background: #eeeeee;
	-moz-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;	

}

label {
	display: block;
	padding: 2px;
}

legend {
	font-weight: bold;
}

ul { 
	list-style:none;
	background: #f1f1f1;
	padding: 10px;
	margin-top: 10px;
	-moz-border-radius: 5px;
	border-radius: 5px; 	
}

#errors {
	font-weight: bold;
	color: #ff0000;
}

.button {
	background: #cccccc;
	color: #555555;
	font-size: 15px;
	border: 2px #808080;
	width: 100%;
	padding: 6px;
	margin-top: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	text-decoration: none;
}

.button:hover {
	background: #cccccc;
	color: #555555;
	font-size: 15px;
	border: 2px #808080;
	width: 100%;
	padding: 6px;
	margin-top: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 2px 2px 1px #888;
	-webkit-box-shadow: 2px 2px 1px #888;
	box-shadow: 2px 2px 1px #888;
	text-decoration: none;
}

.button2 {
	background: #333333;
	color: #f1f1f1;
	font-size: 15px;
	border: 2px #808080;
	width: 100%;
	padding: 6px;
	margin-top: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	text-decoration: none;
}

.button2:hover {
	background: #cccccc;
	color: #555555;
	font-size: 15px;
	border: 2px #808080;
	width: 100%;
	padding: 6px;
	margin-top: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 2px 2px 1px #888;
	-webkit-box-shadow: 2px 2px 1px #888;
	box-shadow: 2px 2px 1px #888;
	text-decoration: none;
}

.float_r {
	background: #333333;
	color: #f1f1f1;
	font-size: 15px;
	border: 2px #808080;
	padding: 6px;
	margin-top: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	text-decoration: none;
	float: right;
}

.float_r:hover {
	background: #cccccc;
	color: #555555;
	font-size: 15px;
	border: 2px #808080;
	padding: 6px;
	margin-top: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	text-decoration: none;
	float: right;
	-moz-box-shadow: 2px 2px 1px #888;
	-webkit-box-shadow: 2px 2px 1px #888;
	box-shadow: 2px 2px 1px #888;
	text-decoration: none;	
}

.footer_nav {
	color: #555555;
	font-size: 12px; 
	font-weight: bold;
	text-transform: uppercase;

}

.logo {
	font-family:Tahoma, Geneva, sans-serif; /* over-ride default font */
	color: #00CC00;
}




